{%- liquid
  unless grid_item_width
    assign grid_item_width = 'small--one-half medium-up--one-third'
  endunless

  unless background_position
    assign background_position = 'center center'
  endunless

  if block.settings.title != blank
    assign title_output = block.settings.title
  else
    if collection.empty?
      assign title_output = 'home_page.onboarding.collection_title' | t
    elsif collection_title
      assign title_output = collection_title
    else
      assign title_output = collection.title | escape
    endif
  endif
-%}

<div class="swiper-slide">
  <div class="grid grid--uniform" data-name="{{ title_output }}">
    {%- if collection.empty? or collection.all_products_count == 0 -%}
      {%- capture placeholder -%}collection-{% cycle 1,2,3,4,5,6 %}{%- endcapture -%}
      <div class="grid__item {{ grid_item_width }}">
        <div class="item-image collection-image--placeholder">{{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}</div>
        <p>No Product</p>
      </div>
    {%- else -%}
      {%- for product in collection.products limit: 4 -%}
        <div class="grid__item {{ grid_item_width }}">
          <a href="{{ product.url }}" data-aos="row-of-{{ per_row }}">
            {%- liquid
                assign product_image = product | image_url: width: 600
            -%}

            {%- if collection.empty? -%}
              {%- capture placeholder -%}collection-{% cycle 1,2,3,4,5,6 %}{%- endcapture -%}
              <div class="item-image collection-image--placeholder">{{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {%- else -%}
              <div
                class="item-image lazyload"
                data-bgset="{% render 'bgset', image: product_image %}"
                data-sizes="auto"
                style="background-position: {{ background_position }};">
              </div>
              <noscript>
                <div
                  class="item-image"
                  style="background-image: url({{ product_image | img_url: '400x' }});">
                </div>
              </noscript>
            {%- endif -%}
            <p>{{ product.title }}</p>
            <p class="text-primary">{{ product.price | money }}</p>
          </a>
        </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
</div>
