{%- liquid
  if section.settings.image_background != blank
    assign color = '#fff'
  else
    assign color = section.settings.color_text
  endif
-%}

{%- style -%}
  .newsletter-{{ section.id }} {
    color: {{ color }};
    {%- if section.settings.image_background != blank -%}
      background: url({{ section.settings.image_background | image_url: width: 2000 }}) center/cover;
    {%- else -%}
      background-color: {{ section.settings.color_background }};
    {%- endif -%}
  }

  {% unless section.settings.color_accent contains 'rgba(0,0,0,0)' %}
    .newsletter-{{ section.id }} .btn {
      background: {{ section.settings.color_accent }} !important;
      border: none;

      {%- assign accent_brightness = section.settings.color_accent | color_extract: 'lightness' -%}

      {% if accent_brightness > 60 %}
        color: #000 !important;
      {% endif %}
    }
  {% endunless %}

  {% comment %} .newsletter-{{ section.id }} .newsletter__input::-webkit-input-placeholder { color: {{ color }}; }
  .newsletter-{{ section.id }} .newsletter__input::-moz-placeholder { color: {{ color }}; }
  .newsletter-{{ section.id }} .newsletter__input::-ms-input-placeholder { color: {{ color }}; } {% endcomment %}
{%- endstyle -%}

<div class="newsletter-section newsletter-{{ section.id }}{% if section.settings.color_background == settings.color_body_bg %} newsletter-section--with-divider{% endif %}">
  <div class="page-width text-center">
    {%- if section.settings.title != blank -%}
      <p class="h3">{{ section.settings.title | escape }}</p>
    {%- endif -%}
    {%- if section.settings.text != blank -%}
      <div class="rte">{{ section.settings.text }}</div>
    {%- endif -%}

    {%- render 'newsletter-form', section_id: section.id, snippet_context: 'section' -%}
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Sign up and save"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Subheading",
        "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
      },
      {
        "type": "image_picker",
        "id": "image_background",
        "label": "Background Image",
        "info": "If you choosed image, the background color will be change to black."
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background",
        "default": "#f9f9f9"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#1c1d1d"
      },
      {
        "type": "color",
        "id": "color_accent",
        "label": "Buttons",
        "default": "rgba(0,0,0,0)"
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
