{%- style -%}
  {%- if section.settings.size == 'large' -%}
  .paul-community-banner-section-{{ section.id }}{
    height: 45vw;
    min-height: 35em;
  }
  {%- endif -%}

  .paul-community-banner-section-{{ section.id }} {
    {%- if section.settings.image_background != blank -%}
      background-image: url({{ section.settings.image_background | image_url: width: 2000 }});
    {%- endif -%}
  }
{%- endstyle -%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="paul-community-banner-section paul-community-banner-section-{{ section.id }}">
  <div class="page-width">
    {%- liquid
      assign isEmpty = true
      if section.blocks.size > 0
        assign isEmpty = false
      endif
    -%}

    {%- for block in section.blocks -%}
      <div class="section-content">
        {%- if block.settings.title != blank -%}
          <h1 class="section-header__title">{{ block.settings.title }}</h1>
          {%- if block.settings.text != blank -%}
            <p>{{ block.settings.text }}</p>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endfor -%}

    {%- if isEmpty -%}
      <div class="section-content">
        <h1 class="section-header__title">Add Title</h1>
        <p>{{ 'home_page.onboarding.no_content' | t }}</p>
      </div>
    {%- endif -%}
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% comment %} 该 Block 有什么类型？ {% endcomment %}
{% comment %} https://shopify.dev/themes/architecture/settings/input-settings {% endcomment %}

{% schema %}
  {
    "name": "Community Banner",
    "max_blocks": 1,
    "settings": [
      {
        "id": "image_background",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      },
      {
        "type": "select",
        "id": "size",
        "label": "Size",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "medium",
            "label": "Medium"
          }
        ],
        "default": "medium"
      }
    ],
    "presets": [{
      "name": "Community Banner",
      "category": "Text",
      "blocks": [
        {
          "type": "item"
        }
      ]
    }],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Welcome To The GYBER Community"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Here is what our customers say about our products"
          }
        ]
      }
    ]
  }
{% endschema %}
