{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  <div class="wrapper">
    <div class="grid grid--uniform grid--flush-bottom">
      {%- liquid
        assign isEmpty = true
        if section.blocks.size > 0
          assign isEmpty = false
        endif
      -%}

      {%- if isEmpty -%}
        <div class="grid__item">
          <div class="rte">
            {{ 'home_page.onboarding.no_content' | t }}
          </div>
        </div>
      {%- else -%}
        {%- for block in section.blocks -%}
          {%- if block.type == 'image' -%}
            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <div class="grid__item medium-up--one-half">
              <p>
                <img class="lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ block.settings.image.alt }}"
                />
              </p>
            </div>
          {%- else if block.type == 'text' -%}
            <div class="grid__item medium-up--one-half item-text">
              <header>
                <h3>{{ block.settings.title }}</h3>
                <p class="text-secondly"><small>{{ block.settings.desc }}</small></p>
              </header>
              <article>
                {{ block.settings.content }}
              </article>
            </div>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% comment %} 该 Block 有什么类型？ {% endcomment %}
{% comment %} https://shopify.dev/themes/architecture/settings/input-settings {% endcomment %}

{% schema %}
  {
    "name": "FAQ Intro Card",
    "class": "paul-faq-intro-card-section",
    "max_blocks": 10,
    "settings": [
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [{
      "name": "FAQ Intro Card",
      "category": "Text",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "text"
        }
      ]
    }],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      },
      {
        "type": "text",
        "name": "Content",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Gyber Basics"
          },
          {
            "type": "textarea",
            "id": "desc",
            "label": "Text",
            "default": "Got a new Gyber? Start here to learn the basics"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Detail Content",
            "info": "It will show as a list, you can add article links here."
          }
        ]
      }
    ]
  }
{% endschema %}
