{%- style -%}
  {%- if section.settings.size == 'medium' -%}
    .paul-general-banner-section-{{ section.id }}{
      height: 35em;
    }
  {%- elsif section.settings.size == 'small' -%}
    .paul-general-banner-section-{{ section.id }}{
      height: auto;
    }

    .paul-general-banner-section-{{ section.id }} h1{
      font-size: 2.5em;
    }

    .paul-general-banner-section-{{ section.id }} p{
      font-size: 1em;
    }
  {%- endif -%}

  {%- if section.settings.style == 'blur' -%}
    .paul-general-banner-section-{{ section.id }}::before{
      content: "";
    }

    .paul-general-banner-section-{{ section.id }}::before,
    .paul-general-banner-section-{{ section.id }} .page-width {
      {%- if section.settings.image_background != blank -%}
        background-image: url({{ section.settings.image_background | image_url: width: 2000 }});
      {%- endif -%}
    }
  {% else %}
    .paul-general-banner-section-{{ section.id }} {
      {%- if section.settings.image_background != blank -%}
        background-image: url({{ section.settings.image_background | image_url: width: 2000 }});
      {%- endif -%}
    }
  {%- endif -%}
{%- endstyle -%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="paul-general-banner-section paul-general-banner-section-{{ section.id }}">
  <div class="page-width">
    {%- if section.settings.title != blank -%}
      <h1 class="section-header__title">{{ section.settings.title }}</h1>
      {%- if section.settings.text != blank -%}
        <p>{{ section.settings.text }}</p>
      {%- endif -%}
    {%- endif -%}
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% comment %} 该 Block 有什么类型？ {% endcomment %}
{% comment %} https://shopify.dev/themes/architecture/settings/input-settings {% endcomment %}

{% schema %}
  {
    "name": "General Banner",
    "settings": [
      {
        "id": "image_background",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "General Banner"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Product information, assembly support, FAQS, user guides - everything in one place."
      },
      {
        "type": "select",
        "id": "size",
        "label": "Size",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "style",
        "label": "Style",
        "options": [
          {
            "value": "blur",
            "label": "Blur Background"
          },
          {
            "value": "simple",
            "label": "Simple Full Width"
          }
        ],
        "default": "simple"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [{
      "name": "General Banner",
      "category": "Text"
    }]
  }
{% endschema %}
