{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="paul-faq-card-section">
  <div class="section-content">
    <div class="page-width">
      <div class="grid grid--uniform grid--flush-bottom">
        {%- liquid
          assign isEmpty = true
          if section.blocks.size > 0
            assign isEmpty = false
          endif
        -%}

        {%- if isEmpty -%}
          <div class="page-width">
            <div class="grid">
              <div class="grid__item">
                <div class="rte">
                  {{ 'home_page.onboarding.no_content' | t }}
                </div>
              </div>
            </div>
          </div>
        {%- else -%}
          {%- for block in section.blocks -%}
            <div class="grid__item medium-up--one-half">
              {%- liquid
                if block.settings.button_url
                  assign url_link = block.settings.button_url.url
                else
                  assign url_link = "#"
                endif
              -%}
              <div class="faq-card">
                <div class="card-text">
                  <h3>{{ block.settings.title }}</h3>
                  <p>{{ block.settings.desc }}</p>
                  {%- if block.settings.button_text != blank -%}
                    <p><a class="paul-btn fill" href="{{ url_link }}">{{ block.settings.button_text }}</a></p>
                  {%- endif -%}
                </div>
                {%- if block.settings.image -%}
                  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <div class="card-image">
                    <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ article.image.alt }}"
                      loading="lazy"
                    />
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% comment %} 该 Block 有什么类型？ {% endcomment %}
{% comment %} https://shopify.dev/themes/architecture/settings/input-settings {% endcomment %}

{% schema %}
  {
    "name": "FAQ Question Card",
    "max_blocks": 10,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [{
      "name": "FAQ Question Card",
      "category": "Text",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Community"
          },
          {
            "type": "textarea",
            "id": "desc",
            "label": "Description",
            "default": "Ask questions, find answers, and connect with our community of grill masters, food enthusiasts, and lovers of outdoor cooking."
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Learn More"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button Link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
